# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node (if you have web code too)
node_modules/
dist/

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
